@{
	ViewBag.Title = "Nums 1 ..." + ViewBag.Count;
}

<h2>@ViewBag.Title</h2>
<ul class="list-group list-group-flush">
	@for (int i = 1; i <= ViewBag.Count; i++)
	{
		<li class="list-group-item">@i</li>
	}
</ul>